doctype html
html(xmlns='http://www.w3.org/1999/xhtml')
  include components/_head
  body
    // BEGIN BODY
    main
    // BEGIN HEADER
    include components/_header
    // BEGIN FORM
    include components/_form
    // BEGIN FOOTER
    include components/_footer


